.navbar-dark .navbar-brand,
.dropdown-divider,
.intro span,
.features i,
.clients span,
.foot h3,
.copyright span,
.custom-color i,
.scroll-top,
.skills .hvr-underline-from-left,
.ceo .hvr-underline-from-left {
    color: #00e7dc;
}

.carousel-indicators .active,
.hvr-shutter-out-horizontal:before,
.skills .hvr-underline-from-left:before,
.ceo .hvr-underline-from-left:before,
.btn-outline-success:hover,
.card-header{
    background-color: #00e7dc;
}

.custom-color .color {
    border: 2px solid #00e7dc;
}

.scroll-top:hover {
    border: 3px solid #00e7dc;
}
.btn-outline-success {
    color: #00e7dc;
    border-color: #00e7dc;
}

.skills .hvr-underline-from-left,
.ceo .hvr-underline-from-left {
    border: 1.6px solid #00e7dc;
}